$source-font: 'Source Sans Pro', sans-serif;
$hind-font: 'Hind', sans-serif;
$fresca-font: 'Fresca', sans-serif;
$bg-img-link: "../img/m-h-night.jpg";



$colors: (
    text-color: #fff,
    post-color: #B7C7CA,
    bg-color: #21232E,
    accent-color: #FF4E33,
    btn-color: #E3AC00,
    linear-finsh-color: #942E51,
    bg-info-color: #3B3F50,
    weird-white: #fff
);